ul.thumbs-list{
	margin:0;
	padding:0;
	list-style-type:none;
	z-index:50;
	position:absolute;
	top:0;
	padding:0;
	line-height:72px;
	background:#aaa;
	overflow:auto;
        vertical-align:top;
}
	li.thumb{
		float:left;
		margin:2px;
        padding:2px;
		width:64px;
		height:64px;
		overflow:hidden;
		text-align:center;
        vertical-align:top;
	}
	ul.thumbs-list li img{vertical-align:top;}
.thumb a {line-height:64px; margin:0; padding:0 ;height:64px;display:inline-block; vertical-align:top}
ul.thumbs-list.rtl {direction:rtl}
ul.thumbs-list.rtl li.thumb {float:right}

.list-container{
	width:544px;
	height:72px;
	line-height:72px;
	overflow:hidden;
	position:relative;
	margin:0 auto;
	vertical-align:top;
}
	.subcontainer{
		z-index:50;
		width:504px;
		float:left;
		overflow:hidden;
		height:72px;
		position:relative;
	}
	
	.list-container button{
		z-index:100;
		width:20px;
		height:48px;
		background:url('../images/buttons.png');
		border:0;
		margin-top:8px;
	}
	.list-container .rightButton{
		float:left;background-position:-20px 0;
	}
	.list-container .leftButton{
		float:left;
	}
	
	.list-container .disabled{visibility:hidden}
    
   li.thumb.current {background:#ff0;}